body, html {
  font-family: "Open Sans", sans-serif;
  padding: 5px 5px;
  font-size: 18px;
  margin: 0;
  color: #09224c;
  text-align: center;
  height: 100%;
}


p1 {
  font-family: "Open Sans", monospace;
  font-size: 20px; 
  margin: 1px;
  text-align: right;
}



.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

#textbox {
  padding: 15px;
  background-color: #e2edff;
}

#grad {
    background: linear-gradient(#e2edff, #c1ffe2);
}